.atributo, .papel, .periciasPersonagens{
  margin-left: 10px;
  padding: 5px;
}

.atributosPersonagem {
  display: flex;
  flex-wrap: wrap;
}

.periciasPersonagens {
  display: inline-flex;
  flex-direction: column;
}

.pericia2 {
  display: inline-flex;
  flex-direction: column;
}

.rolagem {
  margin: 3em;
  margin-right: 10em;
}

.imagemPersonagem {
  display: flex;
  justify-content: start;
}

.nomePersonagem {
  margin-top: 1em;
}

.papelPersonagem {
  margin-top: 1em;
}

.protecao {
  margin-top: 10px;
  margin-left: 10px;
  width: 50%;
}

.vitalidade{
  width: 10%;
}

.vit, .mtc, .botoes {
  margin: 10px;
}

h4, .subtitulo {
  font-weight: bold;
}