.titulo {
    margin-left: 10px;
}

.criarCampanhaInput, .criarContaInput, .loginInput {
    max-width: 50%;
}

.criarCampanhasForm, .formCriarConta, .formLogin {
    margin-top: 2em;
    margin-right: 5em;
}